.video_section {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 48px;
    color: var(--color-black);
    font-family: var(--font-cinzel);
}
.title{
    position: relative;
    font-size: 48px;
    font-family: var(--font-cinzel);
    color: var(--color-black);
    text-align: center;
}
.video_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 28px 45px;
    box-sizing: border-box;
    gap: 91px;
    text-align: left;
    font-size: var(--fs-32);
    color: var(--color-black);
    font-family: var(--font-inter);
}
.container{
    height: 405px;
    width: auto;
    position: relative;
    border-radius: var(--br-8);
    border: 1px solid var(--color-khaki);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 32px;
    color: var(--color-black);
    font-family: var(--font-inter);
}
.video{
    width: 100%;
    height: 323px;
    position: relative;
    border-radius: var(--br-8) var(--br-8) 0px 0px;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.song_name{
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    border: 1px solid var(--color-khaki);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 143px;
}
.name{   
    position: relative;
    margin: unset;
    font-size: 32px;
    color: var(--color-black);
    font-family: var(--font-inter);
}